* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    height: 100vh;
    width: 100%;
    background: url(./421561284_122106369464191649_3893292009831967416_n.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}

.cursor {
    position: fixed;
translate: -50% -50%;

aspect-ratio: 1 / 1;
height: 5.5ch;
border-radius: 10vh;
border: solid 1px hsla(184, 80%, 49%, 0.637);
z-index: 1000;
pointer-events: none;
}

.logo {
    align-items: center;
    color: black;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    justify-content: center;
    color: black;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    justify-content: center;
    color: black;
}


.hero-container {
    display: grid;
    color: black;
    grid-template-columns: 57fr 57fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
    justify-content: center;
}

button {
    padding: 1.5rem 3rem;
    font-size: 1rem;
    border: 5%;
    color: black;
    background: none;
    border-radius: 20%;
}

button:hover {
    background-color: #FFD1DC;
    color: black;
   cursor: grab;
}
